@import java.util
@(actualites: util.List[models.Actualite])


@main("Actualités") {
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Catégorie</th>
                <th>Rubrique</th>
                <th>Titre</th>
                <th>Jour</th>

                <th>Actualite</th>
                <th>Jour</th>

                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        @for(actualite <- actualites) {
            <tr>
                <td>@actualite.getEvenement.getCategorie</td>
                <td>@actualite.getEvenement.getRubrique</td>
                <td>@actualite.getEvenement.getTitre</td>
                <td>@actualite.getEvenement.getJour.format("dd-MM-yyyy")</td>

                <td>@actualite.getActualite</td>
                <td>@actualite.getJour.format("dd-MM-yyyy")</td>

                <td><a href="/actualites/@actualite.getId" title="Modifer" data-toggle="tooltip" data-placement="top"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a></td>
                <td><a href="/actualites/@actualite.getId/delete" title="Suppression" data-toggle="tooltip" data-placement="top" onclick="return window.confirm('Voulez vous supprimez ?');" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
            </tr>
        }
        </tbody>
    </table>
}

