@import java.util
@(commentaires: util.List[models.Commentaire])


@main("Commentaires") {
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Evènement</th>
                <th>Catégorie</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Jour</th>
                <th>Commentaire</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        @for(commentaire <- commentaires) {
            <tr>
                <td>@commentaire.getEvenement.getTitre</td>
                <td>@commentaire.getEvenement.getCategorie</td>
                <td>@commentaire.getUtilisateur.getNom</td>
                <td>@commentaire.getUtilisateur.getPrenom</td>
                <td>@commentaire.getJour.format("dd-MM-yyyy")</td>
                <td>@commentaire.getCommentaire</td>
                <td><a href="/commentaires/@commentaire.getId/delete" title="Suppression" data-toggle="tooltip" data-placement="top" onclick="return window.confirm('Voulez vous supprimez ?');" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
            </tr>
        }
        </tbody>
    </table>
}