@import java.util
@(images: util.List[models.Image])

@main("Images") {
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Evènement</th>
                <th>Catégorie</th>
                <th>Jour</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
        @for(image <- images) {
            <tr>
                <td>@image.getEvenement.getTitre</td>
                <td>@image.getEvenement.getCategorie/td>
                <td>@image.getEvenement.getJour.format("dd-MM-yyyy")</td>
                <td>@image.getUtilisateur.getNom</td>
                <td>@image.getUtilisateur.getPrenom</td>
                <td><img src="@image.getImagegalerie" alt="@image.getUtilisateur.getNom" width="140" height="140" class="img-thumbnail"></td>
            </tr>
        }
        </tbody>
    </table>
}