@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Matano | @title</title>

        <link href="@routes.Assets.versioned("css/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/main.css")" rel="stylesheet">


    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Matano</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Matano</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/evenements/partenaires/@session().get("id")">Evènements</a></li>
                        <li><a href="/actualites/partenaires/@session().get("id")">Actualités</a></li>
                        <li><a href="/commentaires/partenaires/@session().get("id")">Commentaires</a></li>
                        <li><a href="/images/partenaires/@session().get("id")">Images</a></li>
                        <li><a href="/participants/partenaires/@session().get("id")">Participants</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="starter-template">
                <h1>@title</h1>
            </div>
        </div>
        <div class="container">@content</div>

        <script src="@routes.Assets.versioned("/js/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
    </body>
</html>