@import java.util
@(participants: util.List[models.Participant])

@main("Participants") {
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Evènement</th>
                <th>Catégorie</th>
                <th>Jour</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
        @for(participant <- participants) {
            <tr>
                <td>@participant.getEvenement.getTitre</td>
                <td>@participant.getEvenement.getCategorie/td>
                <td>@participant.getEvenement.getJour.format("dd-MM-yyyy")</td>
                <td>@participant.getUtilisateur.getNom</td>
                <td>@participant.getUtilisateur.getPrenom</td>
                <td><img src="@participant.getUtilisateur.getImage" alt="@participant.getUtilisateur.getNom" width="140" height="140" class="img-thumbnail"></td>
            </tr>
        }
        </tbody>
    </table>
}